#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.ant-tree-child-tree > li{
  text-align:left;
}

.treesName{  
  float: left;
  width: 100%;
  padding-right: 100%;  
}

.collection-create-form_last-form-item {
    margin-bottom: 0;
}

.ant-table-thead > tr > th.ant-table-selection-column, .ant-table-tbody > tr > td.ant-table-selection-column {
    text-align: center;
    min-width: 0 !important;
    width: 0 !important;
}