@import '~antd/dist/antd.css'; /*引入Antd样式*/

body{     
  border:black solid thin;
  width: 100%;
  background-image: url("../src/layouts/backgrounds.jpg");
  background-repeat: no-repeat;
  background-size: 100%;  
  background-position: center center;
}

.App {
  text-align: center;
}

#login{

}
/* div{
  border:red solid thin;
} */
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}